.c3-line {
  stroke-width: 1.5px;
}

.c3-axis-x-label, .c3-axis-y-label {
  font-size: 12px;
}

.c3-axis > .domain, .c3-axis > .tick > line {
  stroke: #fff;
}

.c3-grid-highlight {
  stroke-dasharray: 5 5;
}

body {
  font-family: Sans-serif;
}

#main {
  max-width: 800px;
  min-width: 310;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: normal;
}

#text {
  text-align: left;
}

#text > p {
  margin-top: 20px;
  font-size: 16px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

#footer {
  text-align: right;
  font-size: 10px;
}
