.c3-line {
  stroke-width: 1.5px;
}

.c3-axis-x-label, .c3-axis-y-label {
  font-size: 12px;
}

.c3-axis > .domain, .c3-axis > .tick > line {
  stroke: #fff;
}

.c3-grid-highlight {
  stroke-dasharray: 5 5;
}

body {
  font-family: Sans-serif;
}

#main {
  max-width: 1080px;
  min-width: 310;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

#chart {
  min-height: 482px;
}

h1 {
  font-size: 32px;
  font-weight: normal;
}

#text {
  max-width: 800px;
  text-align: left;
  display: table;
  margin: 0 auto;
}

#text > p {
  margin-top: 20px;
  font-size: 16px;
}

h2 {
  font-weight: bold;
  font-size: 20px;
}

#chart-footer {
  text-align: right;
  font-size: 10px;
}

.contact-section {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 15px;
  vertical-align: top;
  text-align: left;
}

.contact-section a {
  display: block;
}

.contact-section .no-link {
  display: block;
}

.contact-column {
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
}

@media (max-width: 850px) {
  .contact-column {
    display: block;
  }

  .contact-section {
    margin-bottom: 10px;
  }
}
