.c3-line {
  stroke-width: 1.5px;
}

.c3-axis-x-label, .c3-axis-y-label {
  font-size: 12px;
}

.c3-axis > .domain, .c3-axis > .tick > line {
  stroke: #b3b3b3;
}

body {
  font-family: Sans-serif;
}

#main {
  max-width: 800px;
  min-width: 310;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
}

.explanation {
  margin-top: 20px;
  text-align: left;
  font-size: 16px
}
.explanation_title {
  margin-top: 20px;
  text-align: left;
  font-size: 20px;
}


#footer {
  text-align: right;
  font-size: 10px;
}
